html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: grey;
}

.left {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 50%;
    height: 100%;
    margin-left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-position: center;
    transition: background 0.8s;
    outline: none;
}

.buttons:hover{
    background: grey radial-gradient(circle, transparent 1%, grey 1%) center/15000%;
}

.buttons:active{
    background-color: darkgrey;
    background-size: 100%;
    transition: background 0s;
}